---
import '../styles/transitions.css';  // Importa los estilos globales

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Colegio Paula Montal - Formando líderes del mañana" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body class="min-h-screen bg-white">
		<slot />
	</body>
</html>